<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8; pageEncoding=UTF-8">
	<title>N블로그</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
	<style>

	</style>
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="top">
				<div class="area_logo">
					<h1 class="logo">N블로그</h1>
				</div>
				<div class="area_search">
					<div class="search_box">
						<div class="search">
							<select class="dropdown">
								<option value="1">글</option>
								<option value="1">블로그</option>
								<option value="1">별명·이메일</option>
							</select>
						</div>
						<input type="text" class="textbox">
						<a href="#" class="search_btn">
							<i class="sp_common icon_search"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div id="main">
				레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
			</div>
		</div>
		<div id="footer">
			<div id="bottom">
				<%= MBR_NKNM %> : <%= MBR_EMAIL %> 
			<div>
		</div>
	</div>
</body>
</html>