#container{display: flex;flex-direction: column;}
#header{height: 54px;border-bottom:1px solid gray;}
#content{padding: 20px;}
#footer{padding: 20px;}
#footer #bottom{text-align: center;}
#top,#main,#bottom{width: 1100px;margin: 0 auto;}
#top{display: flex;position: relative;height: 100%;overflow: hidden;}
#top .area_logo{float: left;cursor: pointer;}
#top .area_logo .logo{background-position: -678px -332px;width: 120px;height: 26px;position: relative;margin-top: 14px;color:#ff7f00;}
#top .area_search{float: left; margin:8px 0 0 19px;}
#top .area_search .search_box{display: flex;float: left;}
#top .area_search .search_box .search{border: 1px solid #ff7f00;border-right: 0;background-color: #fff;}
#top .area_search .search_box .dropdown{float: left;width: 99px;height: 35px;margin: 0 0 0 -1px;padding: 3px 0 4px;border-color: #999;}
#top .area_search .search_box .textbox{float: left;width: 222px;height: 35px;border: 0;font-size: 12px;font-weight: 600;line-height: 16px;text-indent: 10px;}
#top .area_search .search_box .search_btn{float: left;width: 36px;height: 37px;line-height: 35px;background-color: #ff7f00;border: 1px solid #ff7f00;text-align: center;}
#top .area_profile{position: absolute;top: 0;right: 10px;bottom: 0;margin:8px 0 0 19px;overflow: hidden;}
#top .area_profile ul{display: flex;list-style: none;}
#top .area_profile li{cursor: pointer;}
#top .area_profile .login_box{padding:12px 0 10px 1px;}
#top .area_profile .login_box a{padding:0;padding:0 10px 0 10px;font-size:16px;font-weight:bold;height:54px;}
#top .area_profile .login_box .sign_up{border: 2px solid #ff7f00;border-radius: 10%;}
#top .area_profile .profile{display: flex;margin-right: 1px;font-size:14px;font-weight:bold;}
#top .area_profile span{height:40px;margin:0 0 0 3px;padding:13px 20px 0 5px;}
#top .area_profile img{width:40px;height:40px;border-radius: 70%;display: inline-block;}
body,input,textarea,select,button,table{
    font-family: "나눔고딕","NanumGothic","NanumGothicWebFont","Malgun Gothic","맑은 고딕","Dotum","돋움","Helvetica","Apple SD Gothic Neo","sans-serif";
    font-size: 12px;
    line-height: 1.2;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;color: inherit;cursor: pointer;}