/* login */
.login{background:#fff}
.login .login_box{width:400px;height:500px;padding:30px;border: 1px solid orange;margin:100px auto 200px auto}
.login .login_box input{width:100%}
.login .login_box .btn_base{width:100%;height:30px;background:#f4ae16;color:#fff;margin:15px 0}
.login .login_box .btn_base.signup{margin:75px 0 15px 0}
.login .login_box .login_ttl_box{display: block;margin-bottom: 20px;text-align: center;margin: 10px 0 30px 0}
.login .login_box .login_ttl_txt{font-size: 32px;font-weight:bold}
.login .login_box .login_ttl_txt.orange{color: orange}
.login .login_box .passImg{width:80px;height:80px;margin-bottom: 20px;}
.login .login_box .link_box{margin: 20px 0;text-align: center;}
.login .login_box .link_box .signup_link,.login_link{font-weight:bold;color: orange}
.login .login_box .pass_lose{margin: 10px 0 20px 0;text-align: center;font-size: 12px;}
.login .login_box .sns_box{margin: 45px 0 20px 0;text-align: center}
.login .login_box .sns_box .sns_btn_box{margin: 20px auto}
.login .login_box .sns_box .sns_btn_box img{width:40px;height:40px;border-radius: 70%;margin: 0 5px;cursor: pointer;}

.notice_board .user_info{position:relative;margin-bottom:15px;padding-top:8px}
.notice_board .user_info .name{color:#6C7293;font-weight:bold;cursor:pointer}
.notice_board .user_info .date{margin-left:10px;color:#A9ACC2}
.notice_board .user_info .edit_box, .notice_board .user_info .save_box{display:none;position:absolute;top:0;right:0}
.notice_board .user_info .edit_box.on, .notice_board .user_info .save_box.on{display:block}
.notice_board .comt_write .user_info .name{cursor:default}
.notice_board .comt_area textarea{width:99%}
.notice_board .comt_area textarea.focus{border:1px solid #716ACA}
.notice_board .comt_list{margin-top:30px;-webkit-padding-start:0px}
.notice_board .comt_list li{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #ebedf2}
.notice_board .comt_desc .txt{line-height:1.2rem}