/* login */
.login{background:#fff}
.login .login_box{width:400px;height:500px;padding:30px;border: 1px solid orange;margin:100px auto 200px auto}
.login .login_box input{width:100%}
.login .login_box .btn_base{width:100%;height:30px;background:#f4ae16;color:#fff;margin:15px 0}
.login .login_box .btn_base.signup{margin:75px 0 15px 0}
.login .login_box .login_ttl_box{display: block;margin-bottom: 20px;text-align: center;margin: 10px 0 30px 0}
.login .login_box .login_ttl_txt{font-size: 32px;font-weight:bold}
.login .login_box .login_ttl_txt.orange{color: orange}
.login .login_box .passImg{width:80px;height:80px;margin-bottom: 20px;}
.login .login_box .link_box{margin: 20px 0;text-align: center;}
.login .login_box .link_box .signup_link,.login_link{font-weight:bold;color: orange}
.login .login_box .pass_lose{margin: 10px 0 20px 0;text-align: center;font-size: 12px;}
.login .login_box .sns_box{margin: 45px 0 20px 0;text-align: center}
.login .login_box .sns_box .sns_btn_box{margin: 20px auto}
.login .login_box .sns_box .sns_btn_box img{width:40px;height:40px;border-radius: 70%;margin: 0 5px;cursor: pointer;}

/* button */
.btn_wrap{display:-ms-flex;display:flex;position:relative;margin-top:30px}
.btn_wrap.cent{-ms-justify-content:center;justify-content:center}
.btn_wrap.right{-ms-justify-content:flex-end;justify-content:flex-end}

.btn_wrap .btn_base{margin:0 3px}
.btn_base{display:inline-block;width:100px;height:40px;padding:7px 13px;border:1px solid #5867dd;border-radius:5px;background:#5867dd;color:#fff;line-height:1;vertical-align:top;text-align:center;font-size:14px;box-sizing:border-box}
.btn_base.submit{border:1px solid orange;background:#fff;color:#000;text-transform:uppercase;letter-spacing:2.5px;box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);transition: all 0.3s ease 0s;outline:none;}
.btn_base.submit:hover {background-color: orange;box-shadow: 0px 15px 20px rgba(229, 150, 46, 0.4);color: #fff;transform: translateY(-7px);}
.btn_base.rev{border:1px solid lightgray;background:#fff;color:#000}
.btn_base.gray{border:1px solid #c5cbda;background:#ccd1de;color:#2f3336}
.btn_base.gray_rev{border:1px solid #c5cbda;background:#fff;color:#2f3336}
.btn_base.blue{border:1px solid #36a3f7;background:#36a3f7;color:#fff}
.btn_base.blue_rev{border:1px solid #36a3f7;background:#fff;color:#2f3336}
.btn_base.green{border:1px solid #10c469;background:#10c469;color:#fff}
.btn_base.red{border:1px solid #f4516c;background:#f4516c;color:#fff}
.btn_base.small{min-width:auto;padding:5px 8px}

.submitBtn {
    width: 100px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border:1px solid orange;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

/* popup */
.pop_layer{display:none;position: absolute;width:550px;height:600px;border:1px solid orange;}
.pop_layer .pop_body{margin:30px}
.option_line{display:flex;margin-bottom:20px;}
.set_ttl{padding-top: 10px;flex: 0 0 90px;}
.set_option{flex: 1;align-self: center;}



.notice_board .user_info{position:relative;margin-bottom:15px;padding-top:8px}
.notice_board .user_info .name{color:#6C7293;font-weight:bold;cursor:pointer}
.notice_board .user_info .date{margin-left:10px;color:#A9ACC2}
.notice_board .user_info .edit_box, .notice_board .user_info .save_box{display:none;position:absolute;top:0;right:0}
.notice_board .user_info .edit_box.on, .notice_board .user_info .save_box.on{display:block}
.notice_board .comt_write .user_info .name{cursor:default}
.notice_board .comt_area textarea{width:99%}
.notice_board .comt_area textarea.focus{border:1px solid #716ACA}
.notice_board .comt_list{margin-top:30px;-webkit-padding-start:0px}
.notice_board .comt_list li{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #ebedf2}
.notice_board .comt_desc .txt{line-height:1.2rem}