<!DOCTYPE html>
<html lang="ko">
<head>
	<%- include head %>
</head>
<body>
	<div id="wrap">
		<div id="blogHeader">
			<%- include blogHeader %>
		</div>
		<div id="container">
			<%- body %>
		</div>
		<div id="footer">
			<%- include blogFooter %>
		</div>
	</div>
</body>
</html>