<meta http-equiv="content-type" content="text/html; charset=UTF-8; pageEncoding=UTF-8">
<title>N블로그</title>
<link rel="icon" href="/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/bootstrap4/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/template/main_styles.css">
<link rel="stylesheet" type="text/css" href="/template/responsive.css">
<link rel="stylesheet" type="text/css" href="/template/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/template/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/template/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/template/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.css"> -->

<script src="/javascripts/common.js"></script>
<script src="/bootstrap4/jquery_v3.5.1.js"></script>
<script src="/bootstrap4/bootstrap.min.js"></script>
<script src="/bootstrap4/popper.min.js"></script>

<!-- <script src="/template/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/template/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.js"></script>
<script src="/template/easing/easing.js"></script>
<script src="/template/masonry/masonry.js"></script>
<script src="/template/masonry/images_loaded.js"></script>
<script src="/template/custom.js"></script> -->