<div class="top">
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a href="../" class="navbar-brand">N블로그</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <% if(Object.keys(payload).length == 0 || payload.mbrNo == '') { %>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/auth/login">로그인</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/auth/signup">회원가입</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item mx-0 mx-lg-1">
                        <img src="https://phinf.pstatic.net/contact/20200706_251/1594042077178qQQwA_JPEG/1534588212758-01-01.jpeg?type=s80">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= payload.mbrNknm %></a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/blog/<%= payload.mbrNo %>">내 블로그</a>
                              <div class="dropdown-divider"></div>
                              <% if(payload.sns == 'kakao') { 
                                    let client_id = '390bd20f4240efdcb3be81e1c556beb8';
                                    let redirectURI = encodeURI("http://localhost:3000/logout");
                                %>
                                    <a class="dropdown-item" href="https://kauth.kakao.com/oauth/logout?client_id=<%= client_id %>&logout_redirect_uri=<%= redirectURI %>" class="logout">로그아웃</a>
                                <% } else { %>
                                    <a class="dropdown-item" href="/logout">로그아웃</a>
                                <% } %>
                            </div>
                          </li>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>