<div class="top">
    <div class="area_logo">
        <h1 class="logo"><a href="/">N블로그</a></h1>
    </div>
    <div class="area_search">
        <div class="search_box">
            <div class="search">
                <select class="dropdown">
                    <option value="1">글</option>
                    <option value="1">블로그</option>
                    <option value="1">별명·이메일</option>
                </select>
                <input type="text" class="textbox">
            </div>
            <a href="#" class="search_btn">
                <i class="sp_common icon_search"></i>
            </a>
        </div>
    </div>
    <div class="area_profile">
        <ul>
            <li class="login_box" style="display:none;">
                <a href="#" class="sign_in">Sign in</a>
                <a href="#" class="sign_up">Sign up</a>
            </li>
            <li class="profile_box">
                <img src="https://phinf.pstatic.net/contact/20200706_251/1594042077178qQQwA_JPEG/1534588212758-01-01.jpeg?type=s80">
                <div class="name_box">
                    <span class="nickname"><%= MBR_NKNM %></span>▼
                </div>
                <span class="ico_arrow"></span>
                <div class="area_drop_box">
                    <div class="drop_my_content">
                        <div class="drop_img">
                            <a href="#"><img src="https://phinf.pstatic.net/contact/20200706_251/1594042077178qQQwA_JPEG/1534588212758-01-01.jpeg?type=s80"></a>
                        </div>
                        <div class="drop_txt">
                            <p>
                                <a href="#"><%= MBR_NKNM %></a>님
                                설정
                            </p>
                            <a href="#"><%= MBR_EMAIL %> </a>
                        </div>
                    </div>
                    <div class="drop_my_community">
                        <a href="/<%= MBR_NO %>" class="my_blog">내 블로그</a>
                        <a href="#" class="logout">로그아웃</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>