<!DOCTYPE html>
<html lang="ko">
<head>
	<%- include head %>
</head>
<body>
	<div id="wrap" style="background-color: white;">
		<div class="header">
			<%- include header %>
		</div>
		<div class="container">
			<%- body %>
		</div>
		<div id="footer">
			<%- include footer %>
		</div>
	</div>
</body>
</html>