<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8; pageEncoding=UTF-8">
	<title>N블로그</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\82104\Desktop\프로젝트\N블로그\NBlog\public\stylesheets\common.css">
</head>
<body>
	<div id="wrap">
		<div id="blogHeader">
			<div class="blog_top">
				<div class="area_bar">
					<ul>
						<li>
							<a href="#">블로그 홈</a>
						</li>
						<li>
							<a href="#">팔로워 블로그</a>
						</li>
						<li class="login_box" style="display:none;">
							<a href="#" class="sign_in">Sign in</a>
						</li>
						<li class="profile_box">
							<div class="name_box">
								<span class="nickname">영트</span>▼
							</div>
							<span class="ico_arrow"></span>
							<div class="area_drop_box">
								<div class="drop_my_content">
									<div class="drop_img">
										<a href="#"><img src="https://phinf.pstatic.net/contact/20200706_251/1594042077178qQQwA_JPEG/1534588212758-01-01.jpeg?type=s80"></a>
									</div>
									<div class="drop_txt">
										<p>
											<a href="#">영트</a>님
											설정
										</p>
										<a href="#">l1523@naver.com</a>
									</div>
								</div>
								<div class="drop_my_community">
									<a href="#" class="my_blog">내 블로그</a>
									<a href="#" class="logout">로그아웃</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="blog_top_title">
				<div class="blog_title">
					<h1 class="blog_title_txt">여행을 좋아하는 개발자 블로그</h1>
				</div>
				<div class="blog_menu">
					<table>
						<tbody>
							<tr>
								<td class="menu1">
									<ul>
										<li>프롤로그</li>
										<li>블로그</li>
									</ul>
								</td>
								<td class="menu2">
									<ul>
										<li>태그</li>
										<li>방명록</li>
									</ul>
								</td>
							</tr>	
						</tbody>
					</table>
				</div>
				<div>
					<a href="#">글쓰기</a>
				</div>
			</div>
		</div>
		<div id="container">
			<div class="content blog">
				<div>
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
					레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="bottom">
				<p class="copyright">DESIGN BY 영트</p>
			<div>
		</div>
	</div>
</body>
</html>
