<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8; pageEncoding=UTF-8">
	<title>N블로그</title>
	<!-- <link rel="stylesheet" type="text/css" href="../../public/stylesheets/common.css"> -->
	<style>
		.container{
			display: flex;
			flex-direction: column;
		}
		header,footer,.content {
			margin: 0 auto;
		}
		header{
			border-bottom:1px solid gray;
			height: 53px;
		}
		footer{
			border-top:1px solid gray;
			text-align: center;
		}
		.content{
		}
		.top,.main,.bottom{
			width: 1100px;
			padding: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<header>
			<div class="top">
				NBlog
			</div>
		</header>
		<div class="content">
			<div class="main">
				레이아웃 테스트 레이아웃 테스트 레이아웃 테스트 레이아웃 테스트
			</div>
		</div>
		<footer>
			<div class="bottom">
				테스트
			<div>
		</footer>
	</div>
<script>
$(document).ready(function(){
	
});
</script>
</body>
</html>
