<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8; pageEncoding=UTF-8">
	<title>NBlog</title>
	<link rel="stylesheet" type="text/css" href="/common.css">
</head>
<body>
<div id="wrap">
	<div id="header" include-html="nav_top.ejs">
	</div>
	<!-- container -->
	<div id="container">
		<!-- content -->
		<div class="main">
			
		</div>
		<!-- //content -->
	</div>
	<!-- //container -->
</div>
<script>
$(document).ready(function(){
	
});
</script>
</body>
</html>