<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8; pageEncoding=UTF-8">
	<title>N블로그</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\82104\Desktop\프로젝트\N블로그\NBlog\public\stylesheets\common.css">
	<link rel="stylesheet" type="text/css" href="C:\Users\82104\Desktop\프로젝트\N블로그\NBlog\public\stylesheets\style.css">
	<script type="text/javascript" src="C:\Users\82104\Desktop\프로젝트\N블로그\NBlog\public\javascripts\common.js"></script>
</head>
<body>
	<div id="wrap">
		<div id="header">
			<div class="top">
				<div class="area_logo">
					<h1 class="logo"><a href="#">N블로그</a></h1>
				</div>
				<div class="area_search">
					<div class="search_box">
						<div class="search">
							<select class="dropdown">
								<option value="1">글</option>
								<option value="1">블로그</option>
								<option value="1">별명·이메일</option>
							</select>
							<input type="text" class="textbox">
						</div>
						<a href="#" class="search_btn">
							<i class="sp_common icon_search"></i>
						</a>
					</div>
				</div>
				<div class="area_profile">
					<ul>
						<li class="login_box" style="display:none;">
							<a href="#" class="sign_in">Sign in</a>
							<a href="#" class="sign_up">Sign up</a>
						</li>
						<li class="profile_box">
							<img src="https://phinf.pstatic.net/contact/20200706_251/1594042077178qQQwA_JPEG/1534588212758-01-01.jpeg?type=s80">
							<div class="name_box">
								<span class="txt nickname">영트</span>▼
							</div>
							<span class="ico_arrow"></span>
							<div class="area_drop_box">
								<div class="drop_my_content">
									<div class="drop_img">
										<a href="#"><img src="https://phinf.pstatic.net/contact/20200706_251/1594042077178qQQwA_JPEG/1534588212758-01-01.jpeg?type=s80"></a>
									</div>
									<div class="drop_txt">
										<p class="txt">
											<a href="#">영트</a>님
											설정
										</p>
										<a href="#">l1523@naver.com</a>
									</div>
								</div>
								<div class="drop_my_community">
									<a href="#" class="my_blog">내 블로그</a>
									<a href="#" class="logout">로그아웃</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="container">
			<div class="content home login">
				<div class="login_box">
					<form id="loginForm">
						<div class="login_ttl_box">
							<span class="login_ttl_txt">가입정보 입력</span>
						</div> 
						<input type="text" name="mbrEmail" placeholder="이메일 주소">
						<input type="password" name="mbrPw" placeholder="비밀번호 영문, 숫자 포함 8자리 이상">
						<input type="text" name="mbrPw" placeholder="사용할 닉네임">
						<button type="button" class="btn_base signup">가입</button>
						<div class="link_box">이미 계정이 있으신가요? <a href="#" class="login_link">로그인하기</a></div>
					</form>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="bottom">
				<ul>
					<li>
						바텀
					</li>
				</ul>
				<p class="copyright">Copyright © N Blog Corp. All Rights Reserved.</p>
			<div>
		</div>
	</div>
</body>
</html>
