<div class="content home">
	<div class="blog_section">
		<div class="section_panel d-flex flex-row align-items-center justify-content-start">
			<div class="section_title">Don't Miss</div>
			<div class="section_tags ml-auto">
				<ul>
					<li class="active"><a href="category.html">all</a></li>
					<li><a href="category.html">style hunter</a></li>
					<li><a href="category.html">vogue</a></li>
					<li><a href="category.html">health &amp; fitness</a></li>
					<li><a href="category.html">travel</a></li>
				</ul>
			</div>
		</div>

		<!-- Heading Row -->
		<div class="row align-items-center section_content">
			<div class="col-lg-7 col-md-6 mb-4">
				<div class="card h-100">
				  <img class="card-img-top" src="http://placehold.it/500x325" alt="">
				  <div class="card-body">
					<h4 class="card-title">Card title</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
				  </div>
				  <div class="card-footer">
					<a href="#" class="btn btn-primary">Find Out More!</a>
				  </div>
				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="card h-100 mb-5">
					<div class="card-body">
					  <h2 class="card-title">Card Two</h2>
					  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
					</div>
					<div class="card-footer">
					  <a href="#" class="btn btn-primary btn-sm">More Info</a>
					</div>
				</div>
				<div class="card h-100 mb-5">
					<div class="card-body">
					  <h2 class="card-title">Card Two</h2>
					  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
					</div>
					<div class="card-footer">
					  <a href="#" class="btn btn-primary btn-sm">More Info</a>
					</div>
				</div>
			</div>
			<!-- <div class="col-lg-7">
				<img class="img-fluid rounded mb-4 mb-lg-0" src="/images/sample.jpg" alt="">
			</div>

			<div class="col-lg-5">
				<h1 class="font-weight-light">Business Name or Tagline</h1>
				<p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
				<a class="btn btn-primary" href="#">Call to Action!</a>
			</div> -->

		</div>
		<!-- /.row -->
	
		<!-- Content Row -->
		<div class="row">
		  <div class="col-md-4 mb-5">
			<div class="card h-100">
			  <div class="card-body">
				<h2 class="card-title">Card One</h2>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
			  </div>
			  <div class="card-footer">
				<a href="#" class="btn btn-primary btn-sm">More Info</a>
			  </div>
			</div>
		  </div>
		  <!-- /.col-md-4 -->
		  <div class="col-md-4 mb-5">
			<div class="card h-100">
			  <div class="card-body">
				<h2 class="card-title">Card Two</h2>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
			  </div>
			  <div class="card-footer">
				<a href="#" class="btn btn-primary btn-sm">More Info</a>
			  </div>
			</div>
		  </div>
		  <!-- /.col-md-4 -->
		  <div class="col-md-4 mb-5">
			<div class="card h-100">
			  <div class="card-body">
				<h2 class="card-title">Card Three</h2>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
			  </div>
			  <div class="card-footer">
				<a href="#" class="btn btn-primary btn-sm">More Info</a>
			  </div>
			</div>
		  </div>
		  <!-- /.col-md-4 -->
	
		</div>
		<!-- /.row -->
	
	</div>
	<div class="load_more">
		<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
	</div>
</div>