<div class="content blog">
    <div class="board_filed">
        <input type="text" name="postTitle" value="" placeholder="제목을 입력하세요." style="width:100%"/>
		<textarea name="contents" class="edit_contents"></textarea>
		<div class="btn_wrap right">
			<button type="button" class="btn_base submit btn_pop_layer">등록</button>
			<button type="button" class="btn_base rev">취소</button>
		</div>
	</div>
	<div class="pop_layer post_write">
		<div class="pop_body">
			<div class="option_line">
				<strong class="set_ttl">카테고리</strong>
				<div class="set_option">
					<select>
						<option>선택하세요.</option>
					</select>	
				</div>
			</div>
			<div class="option_line">
				<strong class="set_ttl">카테고리</strong>
				<div class="set_option">
					<select>
						<option>선택하세요.</option>
					</select>	
				</div>
			</div>
			<div class="option_line">
				<strong class="set_ttl">카테고리</strong>
				<div class="set_option">
					<select>
						<option>선택하세요.</option>
					</select>	
				</div>
			</div>
			<div class="option_line">
				<strong class="set_ttl">카테고리</strong>
				<div class="set_option">
					<select>
						<option>선택하세요.</option>
					</select>	
				</div>
			</div>
			<div class="option_line">
				<strong class="set_ttl">카테고리</strong>
				<div class="set_option">
					<select>
						<option>선택하세요.</option>
					</select>	
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/tinymce/tinymce.min.js"></script>
<script>
window.addEventListener('DOMContentLoaded', () => {
    tinymce.init({
        selector: ".edit_contents",
        theme: "modern",
        language_url: '/tinymce/langs/ko_KR.js',
		menubar:false,
		height: "600px",
        plugins: "autolink autosave code link media image table textcolor autoresize paste",
        toolbar: "undo redo | fontselect | fontsizeselect | bold underline italic forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table link media custom_image image code",
        automatic_uploads: true,
        file_picker_types: 'image',
        /* and here's our custom image picker*/
        images_upload_url: '/file/uploadImg',
		paste_data_images: true,
		image_dimensions: false,
		setup: function (editor) {
			editor.on('init', function(args) {
				editor = args.target;
				editor.on('NodeChange', function(e) {
					if (e && e.element.nodeName.toLowerCase() == 'img') {	//이미지 사이즈 자동 조정
						width = e.element.width;
						height = e.element.height;
						if (width > 1000) {
							height = height / (width / 1000);
							width = 1000;
						}
						tinyMCE.DOM.setAttribs(e.element, {'width': width, 'height': height});
					}
				});
				
				setTimeout(function(){ //wait for tinymce to load
				 	document.getElementById(editor.id + '_ifr').style.height = '600px';
				}, 100);
			});	
		},
        file_picker_callback: function(cb, value, meta) {
			let input = document.createElement('input');
			input.setAttribute('type', 'file');
			input.setAttribute('accept', 'image/*');
			input.onchange = function() {
				let file = this.files[0];
				let reader = new FileReader();
				reader.onload = function () {
					let id = 'blobid' + (new Date()).getTime();
					let blobCache =  tinymce.activeEditor.editorUpload.blobCache;
					let base64 = reader.result.split(',')[1];
					let blobInfo = blobCache.create(id, file, base64);
					blobCache.add(blobInfo);
					cb(blobInfo.blobUri(), { title: file.name });
				};
				reader.readAsDataURL(file);
			};
			input.click();
		}
	});	
});
</script>