<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<div class="content home login">
    <div class="login_box">
        <form id="loginForm" method="POST">
            <input type="hidden" name="url" value="<%= url %>">
            <div class="login_ttl_box">
                <span class="login_ttl_txt orange">N 블로그</span>
            </div> 
            <input type="text" name="mbrEmail" placeholder="이메일 주소">
            <input type="password" name="mbrPw" placeholder="비밀번호">
            <button type="button" class="btn_base" id="login">로그인</button>
            <div class="link_box pass_lose"><a href="/pw_reset">비밀번호를 잊으셨나요?</a></div>
            <div class="link_box">계정이 없으신가요? <a href="/signup" class="signup_link">가입하기</a></div>
            <div class="sns_box">
                <span class="">SNS계정으로 시작하기</span>
                
                <div class="sns_btn_box">
                    <%
                        let n_redirectURI = encodeURI("http://localhost:3000/naverLoginCall");
                        let n_state = '';
                        if(url != null && url != '') {
                            n_state = url;
                        }
                        const n_client_id = 'WqpFj01vvHM5pzWBvB6f';
                        let n_apiURL = 'https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=' + n_client_id + '&redirect_uri=' + n_redirectURI + '&state=' + n_state;
                    %>
                    <a href="<%= n_apiURL %>"><img src="/images/naver.png"></a>
                    <%
                        let k_redirectURI = encodeURI("http://localhost:3000/kakaoLoginCall");
                        let k_state = "";
                        if(url != null && url != '') {
                            k_state = url;
                        }
                        const k_client_id = '390bd20f4240efdcb3be81e1c556beb8';
                        let k_apiURL = 'https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=' + k_client_id + '&redirect_uri=' + k_redirectURI + '&state=' + k_state;
                    %>
                    <a href="<%= k_apiURL %>"><img src="/images/kakaotalk.png"></a>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
window.addEventListener('DOMContentLoaded', () => {
    let form = document.forms["loginForm"]; //로그인 폼

    //input에서 엔터 시 로그인
    for(let i = 0; i < form.elements.length; i++) {
        if(form.elements[i].type != 'hidden' && form.elements[i].type != 'button') {
            form.elements[i].addEventListener('keyup', (e) => {
                if (event.keyCode === 13) {
                    fn_login(form);
                }
            });
        }
    }

    //로그인 버튼 클릭 시 로그인
    document.getElementById('login').addEventListener('click', () => {
        fn_login(form);
    });

});

function fn_login(form) {
    let mbrEmailInp = form[fname="mbrEmail"];
    if(mbrEmailInp.value.trim() == '') {
        alert('이메일을 입력해주세요.');
        mbrEmailInp.value = mbrEmailInp.value.trim();
        mbrEmailInp.focus();
        return;
    }
    
    let mbrPwInp = form[fname="mbrPw"];
    if(mbrPwInp.value.trim() == '') {
        alert('비밀번호를 입력해주세요.');
        mbrPwInp.focus();
        return;
    }

    form.submit();
}
</script>